#contribute {
  display: none;
  border-top: solid #EEE 2px;

  &.display {
    display: block;
  }

  h2.small {
    font-size: 1.2rem;
  }

  p.small {
    font-size: 0.9rem;
  }

  a.button {
    background: #e32e19;
    -webkit-box-shadow: 0 3px 0 #71170c;
            box-shadow: 0 3px 0 #71170c;
  }

  small.last-modified {
    display: block;
    margin-top: 60px;
    font-size: 0.75rem;
  }
}
