<div id="contribute">
  <h2 class="small">Have ideas for improving the documentation?</h2>
  <p class="small">
    This documentation is a community effort. Please create an <a href="https://github.com/piklist/Piklist-Documentation/issues/new">issue</a>
    or <a href="https://github.com/piklist/Piklist-Documentation/compare">pull request</a> to help!
  </p>
  <p>
    <a class="button" href="{{.Site.Params.docsrepo}}/edit/master/content/{{.File.Path}}">Improve this page</a>
  </p>
</div>

<script>
  jQuery(document).ready(function($) {
    var $contribute = $('#contribute').detach();
    $contribute.appendTo('#body > .sticky-parent');
    $contribute.addClass('display');
  });
</script>

<script>
$(document).ready(function(){
    $('<li><h4>Customize</h4></li>').insertBefore('li[data-nav-id="/admin-notices/"]');
    $('<li><h4>Reference</h4></li>').insertBefore('li[data-nav-id="/folder-structure/"]');
    $('<li><h4>Help</h4></li>').insertBefore('li[data-nav-id="/faq/"]');
});
</script>
