<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">

<meta name="google-site-verification" content="gDY0l3MULHLyM8LBIffcfntx1nsYJ5PQPbrsPqJHJGE" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-31864921-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-31864921-2');
</script>
