<div class="expand">

    <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fa fa-chevron-down' : 'fa fa-chevron-right';});});">

        <i style="font-size:x-small;" class="fa fa-chevron-right"></i>

        <span>

            <strong>New to Piklist?</strong>

        </span>

    </div>

    <div class="expand-content" style="display: none;">

        <p>
            <h3>Before you start this tutorial:</h3>
            <ol>
                <li><a href="https://wordpress.org/plugins/piklist/">Install Piklist</a> like you would any other WordPress plugin.</li>
                <li>Decide if you are going to add the code in this tutorial to your custom plugin or your theme.  This will define how to setup your <a href="/folder-structure/">Piklist folder structure</a>.</li>
                <li>If you're new to Piklist, you may want to review the <a href="/getting-started/">"Getting Started"</a> tutorial first.  It gives you a good overview of how Piklist works.</li>
            </ol>
        </p>
        <hr/>
    </div>

</div>
